h1 {
    color:blue; /*задаётся цвет синий*/
    font-size: 34 px; /*размер шрифта 34 пикселей (точное измерение)*/
}

.h2 {
    color:rgb(70, 70, 134); /*Цвет элемента с помощью функций rgb(интенсивность цветов)*/
    font-size: 50px; /*размер текста 80 пикселей (точный размер элемента)*/
}
.h02 {
    color:rgb(138, 138, 182); /*цвет элемента*/
    font-size: 7rem; /*размер текста будет относительно корневого элемента (h2) (относительная единица)*/
}
.text2 {
    color:rgb(124, 15, 110); /*цвет элемента*/
    font-size: 4em; /*размер элемента будет относительно (text1) в 4 раза больше*/
}
.text1 {
    color: rgb(219, 100, 193); /*цвет элемента*/
    font-size: 60 px; /*размер щрифта 60 пикселей (абсолютная единица)*/
}
.boxx {
    background-color: rgb(218, 89, 89); /*цвет фона элемента*/
     width: 50%; /* Половина ширины родительского элемента (относительная единица) */
     height: 50%; /*половины высоты родительского элемента*/

}
.box {
    background-color:red; /*цвет фона элемента*/
    width: 100 px; /*ширина (абсолютная единица)*/
    height: 50 px; /*высота (абсолютная единица)*/
    font-weight: bold; /*ширина текста: жирный*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; /*стиль текста*/

}

.color {
    background-color:#70b0f8; /*цвет фона элемента (шестнадцатеричная система)*/
    color: #103a69; /*цвет элемента также (шестнадцатеричнная система)*/
    font-size: 40px; /*размер текста 40 пикселей*/
}

h3 {
    color:rgba(209, 127, 127, 0.5); /*цвет с помощью функций rgba , добавляется a (прозрачность)*/
}