h1 {
    background-color: rgb(65, 48, 158); /*фоновый цвет текста */
    color: white; /*цвет текста*/
}

p {
    display: inline; /*с блочного элемента преобразуем в строчный*/
    background-color: rgb(107, 115, 189); /*фоновый цвет текста*/
    color: white; /*цвет текста*/
}

.class {
    background-color: rgb(126, 132, 187); /*фоновый цвет текста*/
    color : white; /*цвет текста*/
}

img {
    display: block; /*с строчного элемента преобразуем в блочный*/
    border: 3px solid rgb(153, 163, 218);  /*для изображения прописываем цвет, размер рамы*/
}

.p {
    background-color: rgb(129, 165, 212); /*фоновый цвет текста*/
    color: rgb(72, 84, 192); /*цвет текста*/
    font-size: 40px; /*размер шрифта 40 пикселей*/
}
.img {
    display: block; /*из строчного в блочный элемент*/

}
.a {
    display: block; /*из строчного в блочный элемент*/
    font-size: 23px; /*задаём размер щрифта*/
    background-color: grey; /*фоновый цве текста серый*/
    color:rgb(78, 75, 75); /*цвет текста*/
} 
div {
    text-align: left; /*выравнивание */
}