.h1{
    color:black; /*задаём цвет*/
    font-size: 30 px; /*размер тектса 30 пикселе*/
}

.p {
    color:black; /*цет черный*/
    font-size: 20 px /*размер текста 20 пикселей*/
}

.button:hover { /*hover при наведение курсора задаём цвет фона и текста*/
   background-color: #c22a8f; /*фоновый цвет кнопки розовый*/
   color: white /*цвет теккста на кнопки белый*/
}

.input:focus {  /*focus при нажатий задаём цвет границы*/
    outline: none; /*отключение автоматического border*/
    border-color:#437bc5;/*задаём белый цвет*/
}

.list{
    font-weight: bold; /*размер текста :жирный*/
}


.list-item:first-child { /*задаём стили первому элементу*/
    color: red/*задаём  красный цвет */
}
 
.list-item:last-child { /*задаём стили последнему элементу*/
   color: rgb(212, 125, 125) /*выбираем розовый цвет*/
}

.class:hover{ /*применяем стиль при наведение курсора на элмент*/
    color:#437bc5; /*выбираем цвет*/
    font-size: 35 px; /*размер шрифта*/
    font-weight: bold; /*толщина шрифта*/

} 

.s:focus{ /*применяем стили если наведён курсор на элмент*/
    color:#437bc5; /*задаём цвет элементу*/
}


.list_item2:nth-child(odd) { /*задаём стили четным элементам*/
    background-color: black; /*выбираем черный цвет для фона*/
    color: white /*цвет белый*/
}
.list_item2:nth-child(even) { /*задаём стили нечётным элементам*/
    background-color: white; /*цвет фона белый*/
    color : black /*цвет шрифта черный*/
} 

h1{ /*задаём стили загоовку*/
    font-size: 40 px; /*размер шрифта 40 пикселей*/
    font-weight: bold; /*толщина шрифта */
    color: rgb(83, 85, 87); /*цвет элемента*/
}

.list_item3:first-child:hover{ /*комбинируем стили, если элемент являеться первым элементом и изменяеться при наведение курсора*/
    color:white; /*цвет белый*/
    background-color: #437bc5; /*фоновый цвет */
}

.list4:last-child:focus{ /*комбинируем стили, если элмент являеться последним и изменяеться когда в фокусе*/
    color:red; /*задаём красный цвет*/
}

body{ 
    background-image:url('fonn.webp') ; /*выбираем фоновое изображение */
}

   

